// GENERALS

html, body {
    font-family: $font-poppins;
    font-size: $font-size-16;
    line-height: 1.5;
    color: $color-text-dark;
    margin: 0;
    padding: 0;
    background-color: $color-white;
    box-sizing: border-box;
}

a {
    color: $color-dark;
    transition: 0.15s ease-in-out;
    text-decoration: none;

    &:hover {
        color: $color-theme;
    }
}

p {
    margin: 0.5rem 0;
}

// TITLES

.section-title {
    font-size: $font-size-20;
    color: $color-text-dark;
    font-weight: $font-weight-bold;
    margin-bottom: 1rem;
}



// POSITION CONTENT
.c-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-content {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.start-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sb-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sb-content-top {
    

    @include md {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.position-absolute {
    position: absolute;
}

.txt-c {
    text-align: center;
}

// COMPONENTS



.border {
    border: 1px solid black;
}

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @include sm {
        max-width: $breakpoint-sm-max-width;
    }
    @include md {
        max-width: $breakpoint-md-max-width;
    }
    @include lg {
        max-width: $breakpoint-lg-max-width;
    }
    @include xl {
        max-width: $breakpoint-xl-max-width;
    }
    @include xxl {
        max-width: $breakpoint-xxl-max-width;
    }
}

.container-small {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}



// HELP CLASSES

.bg-color-gray {
    background: linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(245,245,245,1) 100%);
}

.collapse-sm {
    display: none;

    @include sm {
        display: inherit;
    }
}

.collapse-md {
    display: none;

    @include md {
        display: inherit;
    }
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: $font-size-11;
    color: #dc3545;
}

.gap {
    gap: 1rem;
}








