.featured-products {
    margin-bottom: 3rem ;
    


    .featured-product-grid {
       display: grid;
       justify-content: center;

        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;

        @include lg {
            grid-template-columns: repeat(4, 1fr);
            gap: 0.5rem; 
        }
    }
}