.product-grid-container {
    margin-bottom: 3rem ;

    .featured-product-grid {
       display: grid;
       justify-content: center;

        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;

        @include lg {
            grid-template-columns: repeat(4, 1fr);
            gap: 0.5rem; 
        }
    }

    .product-display-grid {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    &.product-display-container {
        flex: 1;
        justify-content: center;
        align-items: center;
    }

}