.site-title {
    padding: 100px 0 3rem 0;
    height: 100%;

    .sales-banner-thin {
        color: $color-theme;
        padding: 0.5rem;
        box-shadow: 0px 0px 15px 1px $color-gray-10;
        font-weight: $font-weight-medium;
        font-size: $font-size-16;
        text-align: center;
        margin-bottom: 1rem;
    }

    .site-title-breadcrumb {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        color: $color-text-dark;

        li+li:before{
            content: ">";
            padding: 0 0.7rem;
        }
    }
}